@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #F0F2F5; /* Cor clara profissional */
}

.dark {
  background-color: #020617; /* Fundo azul profundo das imagens */
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: inherit;
}
